fastapi
sqlalchemy
pydantic
passlib[bcrypt]
PyJWT
pydantic-settings
psycopg2-binary
uvicorn
alembic
websockets
bleach
pip-audit
pydantic[email]
python-jose
slowapi
pytest
pytest-cov
httpx
black
scikit-learn 
numpy
pandas
cachetools
isort
autoflake
python-multipart
flake8
mypy
sqlalchemy[mypy]
pandas-stubs
types-cachetools
jose
types-bleach
bandit